<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jquery_jplayer_2" class="jp-jplayer"></div>
<div id="jquery_jplayer_3" class="jp-jplayer"></div>
<div id="jquery_jplayer_4" class="jp-jplayer"></div>
<div id="jquery_jplayer_5" class="jp-jplayer"></div>
<div id="jquery_jplayer_6" class="jp-jplayer"></div>
<div id="jquery_jplayer_7" class="jp-jplayer"></div>
<div id="jquery_jplayer_8" class="jp-jplayer"></div>
<div id="jquery_jplayer_9" class="jp-jplayer"></div>
<div id="jquery_jplayer_10" class="jp-jplayer"></div>
<div id="jquery_jplayer_11" class="jp-jplayer"></div>
<div id="jquery_jplayer_12" class="jp-jplayer"></div>
<div id="jquery_jplayer_13" class="jp-jplayer"></div>
<div id="jquery_jplayer_14" class="jp-jplayer"></div>
<div id="jquery_jplayer_15" class="jp-jplayer"></div>
<div id="jquery_jplayer_16" class="jp-jplayer"></div>
<div id="jquery_jplayer_17" class="jp-jplayer"></div>
<div id="jquery_jplayer_18" class="jp-jplayer"></div>
<div id="jquery_jplayer_19" class="jp-jplayer"></div>
<div id="jquery_jplayer_20" class="jp-jplayer"></div>
<div id="jquery_jplayer_21" class="jp-jplayer"></div>
<div id="jquery_jplayer_22" class="jp-jplayer"></div>
<div id="jquery_jplayer_23" class="jp-jplayer"></div>
<div id="jquery_jplayer_24" class="jp-jplayer"></div>
<div id="jquery_jplayer_25" class="jp-jplayer"></div>
<div id="jquery_jplayer_26" class="jp-jplayer"></div>

<div class="center" id="top_select">
	<div class="m-btn-group toggle-buttons">
		<button type="button" class="m-btn blue" id="both_case_button">Both cases</button>
	  	<button type="button" class="m-btn blue" id="upper_case_button">Upper case</button>
	  	<button type="button" class="m-btn blue" id="lower_case_button">Lower case</button>
	</div>
</div>

<div id="both_case">
	<div class="alphabet letterA">
		<%= image_tag("both_a_large.png") %>
	</div>
	<div class="alphabet letterB">
		<%= image_tag("both_b_large.png") %>
	</div>
	<div class="alphabet letterC">
		<%= image_tag("both_c_large.png") %>
	</div>
	<div class="alphabet letterD">
		<%= image_tag("both_d_large.png") %>
	</div>
	<div class="alphabet letterE">
		<%= image_tag("both_e_large.png") %>
	</div>
	<div class="alphabet letterF">
		<%= image_tag("both_f_large.png") %>
	</div>
	<div class="alphabet letterG">
		<%= image_tag("both_g_large.png") %>
	</div>
	<div class="alphabet letterH">
		<%= image_tag("both_h_large.png") %>
	</div>
	<div class="alphabet letterI">
		<%= image_tag("both_i_large.png") %>
	</div>
	<div class="alphabet letterJ">
		<%= image_tag("both_j_large.png") %>
	</div>
	<div class="alphabet letterK">
		<%= image_tag("both_k_large.png") %>
	</div>
	<div class="alphabet letterL">
		<%= image_tag("both_l_large.png") %>
	</div>
	<div class="alphabet letterM">
		<%= image_tag("both_m_large.png") %>
	</div>
	<div class="alphabet letterN">
		<%= image_tag("both_n_large.png") %>
	</div>
	<div class="alphabet letterO">
		<%= image_tag("both_o_large.png") %>
	</div>
	<div class="alphabet letterP">
		<%= image_tag("both_p_large.png") %>
	</div>
	<div class="alphabet letterQ">
		<%= image_tag("both_q_large.png") %>
	</div>
	<div class="alphabet letterR">
		<%= image_tag("both_r_large.png") %>
	</div>
	<div class="alphabet letterS">
		<%= image_tag("both_s_large.png") %>
	</div>
	<div class="alphabet letterT">
		<%= image_tag("both_t_large.png") %>
	</div>
	<div class="alphabet letterU">
		<%= image_tag("both_u_large.png") %>
	</div>
	<div class="alphabet letterV">
		<%= image_tag("both_v_large.png") %>
	</div>
	<div class="alphabet letterW">
		<%= image_tag("both_w_large.png") %>
	</div>
	<div class="alphabet letterX">
		<%= image_tag("both_x_large.png") %>
	</div>
	<div class="alphabet letterY">
		<%= image_tag("both_y_large.png") %>
	</div>
	<div class="alphabet letterZ">
		<%= image_tag("both_z_large.png") %>
	</div>
</div>
<div id="upper_case">
	<div class="alphabet letterA">
		<%= image_tag("cap_a_large.png") %>
	</div>
	<div class="alphabet letterB">
		<%= image_tag("cap_b_large.png") %>
	</div>
	<div class="alphabet letterC">
		<%= image_tag("cap_c_large.png") %>
	</div>
	<div class="alphabet letterD">
		<%= image_tag("cap_d_large.png") %>
	</div>
	<div class="alphabet letterE">
		<%= image_tag("cap_e_large.png") %>
	</div>
	<div class="alphabet letterF">
		<%= image_tag("cap_f_large.png") %>
	</div>
	<div class="alphabet letterG">
		<%= image_tag("cap_g_large.png") %>
	</div>
	<div class="alphabet letterH">
		<%= image_tag("cap_h_large.png") %>
	</div>
	<div class="alphabet letterI">
		<%= image_tag("cap_i_large.png") %>
	</div>
	<div class="alphabet letterJ">
		<%= image_tag("cap_j_large.png") %>
	</div>
	<div class="alphabet letterK">
		<%= image_tag("cap_k_large.png") %>
	</div>
	<div class="alphabet letterL">
		<%= image_tag("cap_l_large.png") %>
	</div>
	<div class="alphabet letterM">
		<%= image_tag("cap_m_large.png") %>
	</div>
	<div class="alphabet letterN">
		<%= image_tag("cap_n_large.png") %>
	</div>
	<div class="alphabet letterO">
		<%= image_tag("cap_o_large.png") %>
	</div>
	<div class="alphabet letterP">
		<%= image_tag("cap_p_large.png") %>
	</div>
	<div class="alphabet letterQ">
		<%= image_tag("cap_q_large.png") %>
	</div>
	<div class="alphabet letterR">
		<%= image_tag("cap_r_large.png") %>
	</div>
	<div class="alphabet letterS">
		<%= image_tag("cap_s_large.png") %>
	</div>
	<div class="alphabet letterT">
		<%= image_tag("cap_t_large.png") %>
	</div>
	<div class="alphabet letterU">
		<%= image_tag("cap_u_large.png") %>
	</div>
	<div class="alphabet letterV">
		<%= image_tag("cap_v_large.png") %>
	</div>
	<div class="alphabet letterW">
		<%= image_tag("cap_w_large.png") %>
	</div>
	<div class="alphabet letterX">
		<%= image_tag("cap_x_large.png") %>
	</div>
	<div class="alphabet letterY">
		<%= image_tag("cap_y_large.png") %>
	</div>
	<div class="alphabet letterZ">
		<%= image_tag("cap_z_large.png") %>
	</div>
</div>
<div id="lower_case">	
	<div class="alphabet letterA">
		<%= image_tag("a_large.png") %>
	</div>
	<div class="alphabet letterB">
		<%= image_tag("b_large.png") %>
	</div>
	<div class="alphabet letterC">
		<%= image_tag("c_large.png") %>
	</div>
	<div class="alphabet letterD">
		<%= image_tag("d_large.png") %>
	</div>
	<div class="alphabet letterE">
		<%= image_tag("e_large.png") %>
	</div>
	<div class="alphabet letterF">
		<%= image_tag("f_large.png") %>
	</div>
	<div class="alphabet letterG">
		<%= image_tag("g_large.png") %>
	</div>
	<div class="alphabet letterH">
		<%= image_tag("h_large.png") %>
	</div>
	<div class="alphabet letterI">
		<%= image_tag("i_large.png") %>
	</div>
	<div class="alphabet letterJ">
		<%= image_tag("j_large.png") %>
	</div>
	<div class="alphabet letterK">
		<%= image_tag("k_large.png") %>
	</div>
	<div class="alphabet letterL">
		<%= image_tag("l_large.png") %>
	</div>
	<div class="alphabet letterM">
		<%= image_tag("m_large.png") %>
	</div>
	<div class="alphabet letterN">
		<%= image_tag("n_large.png") %>
	</div>
	<div class="alphabet letterO">
		<%= image_tag("o_large.png") %>
	</div>
	<div class="alphabet letterP">
		<%= image_tag("p_large.png") %>
	</div>
	<div class="alphabet letterQ">
		<%= image_tag("q_large.png") %>
	</div>
	<div class="alphabet letterR">
		<%= image_tag("r_large.png") %>
	</div>
	<div class="alphabet letterS">
		<%= image_tag("s_large.png") %>
	</div>
	<div class="alphabet letterT">
		<%= image_tag("t_large.png") %>
	</div>
	<div class="alphabet letterU">
		<%= image_tag("u_large.png") %>
	</div>
	<div class="alphabet letterV">
		<%= image_tag("v_large.png") %>
	</div>
	<div class="alphabet letterW">
		<%= image_tag("w_large.png") %>
	</div>
	<div class="alphabet letterX">
		<%= image_tag("x_large.png") %>
	</div>
	<div class="alphabet letterY">
		<%= image_tag("y_large.png") %>
	</div>
	<div class="alphabet letterZ">
		<%= image_tag("z_large.png") %>
	</div>
</div>
<script>
	$(function() {
		$('#upper_case').hide();
		$('#lower_case').hide();
		$('#both_case_button').button('toggle')
		$('#lower_case_button').click(function(){
			$('#upper_case').hide();
			$('#lower_case').show();
			$('#both_case').hide();
		})
		$('#upper_case_button').click(function(){
			$('#upper_case').show();
			$('#lower_case').hide();
			$('#both_case').hide();
		});
		$('#both_case_button').click(function(){
			$('#upper_case').hide();
			$('#lower_case').hide();
			$('#both_case').show();
		});
	});
	$(".toggle-buttons > .m-btn").click(function(){$(this).siblings(".m-btn").removeClass("active");$(this).addClass("active")});
</script>