<div id="jquery_jplayer_fail" class="jp-jplayer"></div>
<div id="jquery_jplayer_success" class="jp-jplayer"></div>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jquery_jplayer_2" class="jp-jplayer"></div>
<div id="jquery_jplayer_3" class="jp-jplayer"></div>
<div id="jquery_jplayer_4" class="jp-jplayer"></div>
<div id="jquery_jplayer_5" class="jp-jplayer"></div>
<div id="jquery_jplayer_6" class="jp-jplayer"></div>
<div id="jquery_jplayer_7" class="jp-jplayer"></div>
<div id="jquery_jplayer_8" class="jp-jplayer"></div>
<div id="jquery_jplayer_9" class="jp-jplayer"></div>
<div id="jquery_jplayer_10" class="jp-jplayer"></div>
<div id="jquery_jplayer_11" class="jp-jplayer"></div>
<div id="jquery_jplayer_12" class="jp-jplayer"></div>
<div id="jquery_jplayer_13" class="jp-jplayer"></div>
<div id="jquery_jplayer_14" class="jp-jplayer"></div>
<div id="jquery_jplayer_15" class="jp-jplayer"></div>
<div id="jquery_jplayer_16" class="jp-jplayer"></div>
<div id="jquery_jplayer_17" class="jp-jplayer"></div>
<div id="jquery_jplayer_18" class="jp-jplayer"></div>
<div id="jquery_jplayer_19" class="jp-jplayer"></div>
<div id="jquery_jplayer_20" class="jp-jplayer"></div>
<div id="jquery_jplayer_21" class="jp-jplayer"></div>
<div id="jquery_jplayer_22" class="jp-jplayer"></div>
<div id="jquery_jplayer_23" class="jp-jplayer"></div>
<div id="jquery_jplayer_24" class="jp-jplayer"></div>
<div id="jquery_jplayer_25" class="jp-jplayer"></div>
<div id="jquery_jplayer_26" class="jp-jplayer"></div>

<div class="center" id="top_select">
	<div class="m-btn-group toggle-buttons">
	  <button type="button" class="m-btn blue" id="upper_case_touch_button">Upper case</button>
	  <button type="button" class="m-btn blue" id="lower_case_touch_button">Lower case</button>
	</div>
</div>

<div class="center" id="correct_answer_image">
	<%= image_tag("great_job.png") %>
</div>

<div class="center" id="wrong_answer_image">
	<%= image_tag("too_bad.png") %>
</div>


<div class="center">
	<div id="upper_case_touch">
		<div class="alphabet" id="answer_A">
			<%= image_tag("cap_a_large.png") %>
		</div>
		<div class="alphabet" id="answer_B">
			<%= image_tag("cap_b_large.png") %>
		</div>
		<div class="alphabet" id="answer_C">
			<%= image_tag("cap_c_large.png") %>
		</div>
		<div class="alphabet" id="answer_D">
			<%= image_tag("cap_d_large.png") %>
		</div>
		<div class="alphabet" id="answer_E">
			<%= image_tag("cap_e_large.png") %>
		</div>
		<div class="alphabet" id="answer_F">
			<%= image_tag("cap_f_large.png") %>
		</div>
		<div class="alphabet" id="answer_G">
			<%= image_tag("cap_g_large.png") %>
		</div>
		<div class="alphabet" id="answer_H">
			<%= image_tag("cap_h_large.png") %>
		</div>
		<div class="alphabet" id="answer_I">
			<%= image_tag("cap_i_large.png") %>
		</div>
		<div class="alphabet" id="answer_J">
			<%= image_tag("cap_j_large.png") %>
		</div>
		<div class="alphabet" id="answer_K">
			<%= image_tag("cap_k_large.png") %>
		</div>
		<div class="alphabet" id="answer_L">
			<%= image_tag("cap_l_large.png") %>
		</div>
		<div class="alphabet" id="answer_M">
			<%= image_tag("cap_m_large.png") %>
		</div>
		<div class="alphabet" id="answer_N">
			<%= image_tag("cap_n_large.png") %>
		</div>
		<div class="alphabet" id="answer_O">
			<%= image_tag("cap_o_large.png") %>
		</div>
		<div class="alphabet" id="answer_P">
			<%= image_tag("cap_p_large.png") %>
		</div>
		<div class="alphabet" id="answer_Q">
			<%= image_tag("cap_q_large.png") %>
		</div>
		<div class="alphabet" id="answer_R">
			<%= image_tag("cap_r_large.png") %>
		</div>
		<div class="alphabet" id="answer_S">
			<%= image_tag("cap_s_large.png") %>
		</div>
		<div class="alphabet" id="answer_T">
			<%= image_tag("cap_t_large.png") %>
		</div>
		<div class="alphabet" id="answer_U">
			<%= image_tag("cap_u_large.png") %>
		</div>
		<div class="alphabet" id="answer_V">
			<%= image_tag("cap_v_large.png") %>
		</div>
		<div class="alphabet" id="answer_W">
			<%= image_tag("cap_w_large.png") %>
		</div>
		<div class="alphabet" id="answer_X">
			<%= image_tag("cap_x_large.png") %>
		</div>
		<div class="alphabet" id="answer_Y">
			<%= image_tag("cap_y_large.png") %>
		</div>
		<div class="alphabet" id="answer_Z">
			<%= image_tag("cap_z_large.png") %>
		</div>
	</div>
	<div id="lower_case_touch">	
			<div class="alphabet" id="answer_a">
				<%= image_tag("a_large.png") %>
			</div>
			<div class="alphabet" id="answer_b">
				<%= image_tag("b_large.png") %>
			</div>
			<div class="alphabet" id="answer_c">
				<%= image_tag("c_large.png") %>
			</div>
			<div class="alphabet" id="answer_d">
				<%= image_tag("d_large.png") %>
			</div>
			<div class="alphabet" id="answer_e">
				<%= image_tag("e_large.png") %>
			</div>
			<div class="alphabet" id="answer_f">
				<%= image_tag("f_large.png") %>
			</div>
			<div class="alphabet" id="answer_g">
				<%= image_tag("g_large.png") %>
			</div>
			<div class="alphabet" id="answer_h">
				<%= image_tag("h_large.png") %>
			</div>
			<div class="alphabet" id="answer_i">
				<%= image_tag("i_large.png") %>
			</div>
			<div class="alphabet" id="answer_j">
				<%= image_tag("j_large.png") %>
			</div>
			<div class="alphabet" id="answer_k">
				<%= image_tag("k_large.png") %>
			</div>
			<div class="alphabet" id="answer_l">
				<%= image_tag("l_large.png") %>
			</div>
			<div class="alphabet" id="answer_m">
				<%= image_tag("m_large.png") %>
			</div>
			<div class="alphabet" id="answer_n">
				<%= image_tag("n_large.png") %>
			</div>
			<div class="alphabet" id="answer_o">
				<%= image_tag("o_large.png") %>
			</div>
			<div class="alphabet" id="answer_p">
				<%= image_tag("p_large.png") %>
			</div>
			<div class="alphabet" id="answer_q">
				<%= image_tag("q_large.png") %>
			</div>
			<div class="alphabet" id="answer_r">
				<%= image_tag("r_large.png") %>
			</div>
			<div class="alphabet" id="answer_s">
				<%= image_tag("s_large.png") %>
			</div>
			<div class="alphabet" id="answer_t">
				<%= image_tag("t_large.png") %>
			</div>
			<div class="alphabet" id="answer_u">
				<%= image_tag("u_large.png") %>
			</div>
			<div class="alphabet" id="answer_v">
				<%= image_tag("v_large.png") %>
			</div>
			<div class="alphabet" id="answer_w">
				<%= image_tag("w_large.png") %>
			</div>
			<div class="alphabet" id="answer_x">
				<%= image_tag("x_large.png") %>
			</div>
			<div class="alphabet" id="answer_y">
				<%= image_tag("y_large.png") %>
			</div>
			<div class="alphabet" id="answer_z">
				<%= image_tag("z_large.png") %>
			</div>
		</div>
	</div>	
</div>	

<script>
	$(function() {
		$(".toggle-buttons > .m-btn").click(function(){$(this).siblings(".m-btn").removeClass("active");$(this).addClass("active")});
		var randomLetter = 0;
		var points = 0;
		var caseLetter = "lower"
		var lowerCaseArray = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"];
		var upperCaseArray = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];

		$('#lower_case_touch').hide();
		$('#upper_case_touch').hide();
		$('#lower_case_touch_button').click(function(){
			if (lowerCaseArray.length == 0){
				lowerCaseArray = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"];
			}
			randomLetter = randomChar("lowerLetter");
			var lowerIndex = lowerCaseArray.indexOf(randomLetter);
			lowerCaseArray.splice(lowerIndex, 1);
			$('#correct_answer_image').hide();
			$('#upper_case_touch').hide();
			$('#lower_case_touch').show();
			getSong(randomLetter.toUpperCase());
		})
		$('#upper_case_touch_button').click(function(){
			if (upperCaseArray.length == 0){
				upperCaseArray = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
			}
			randomLetter = randomChar("upperLetter");
			var upperIndex = upperCaseArray.indexOf(randomLetter);
			upperCaseArray.splice(upperIndex, 1);
			$('#correct_answer_image').hide();
			$('#upper_case_touch').show();
			$('#lower_case_touch').hide();
			getSong(randomLetter);
		});

		function randomChar(type){
		    var pool = "";

		    if (type == "lowerLetter"){
		        return lowerCaseArray[Math.floor(Math.random()*lowerCaseArray.length)];
		    }
		    else {
		        return upperCaseArray[Math.floor(Math.random()*upperCaseArray.length)];
		    }
		}

		function getSong(letter){
			var file_name = "lp_".concat(letter + "()");
			console.log(file_name);
			eval(file_name);
			function lp_A() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_1").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Aa_LP.mp3",
							oga: "/assets/Aa_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_B() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_2").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Bb_LP.mp3",
							oga: "/assets/Bb_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_C() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_3").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Cc_LP.mp3",
							oga: "/assets/Cc_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_D() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_4").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Dd_LP.mp3",
							oga: "/assets/Dd_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_E() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_5").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Ee_LP.mp3",
							oga: "/assets/Ee_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_F() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_6").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Ff_LP.mp3",
							oga: "/assets/Ff_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_G() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_7").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Gg_LP.mp3",
							oga: "/assets/Gg_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_H() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_8").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Hh_LP.mp3",
							oga: "/assets/Hh_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_I() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_9").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Ii_LP.mp3",
							oga: "/assets/Ii_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_J() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_10").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Jj_LP.mp3",
							oga: "/assets/Jj_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_K() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_11").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Kk_LP.mp3",
							oga: "/assets/Kk_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_L() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_12").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Ll_LP.mp3",
							oga: "/assets/Ll_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_M() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_13").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Mm_LP.mp3",
							oga: "/assets/Mm_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_N() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_14").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Nn_LP.mp3",
							oga: "/assets/Nn_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_O() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_15").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Oo_LP.mp3",
							oga: "/assets/Oo_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_P() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_16").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Pp_LP.mp3",
							oga: "/assets/Pp_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_Q() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_17").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Qq_LP.mp3",
							oga: "/assets/Qq_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_R() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_18").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Rr_LP.mp3",
							oga: "/assets/Rr_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_S() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_19").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Ss_LP.mp3",
							oga: "/assets/Ss_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_T() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_20").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Tt_LP.mp3",
							oga: "/assets/Tt_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_U() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_21").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Uu_LP.mp3",
							oga: "/assets/Uu_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_V() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_22").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Vv_LP.mp3",
							oga: "/assets/Vv_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_W() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_23").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Ww_LP.mp3",
							oga: "/assets/Ww_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_X() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_24").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Xx_LP.mp3",
							oga: "/assets/Xx_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_Y() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_25").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Yy_LP.mp3",
							oga: "/assets/Yy_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
			function lp_Z() {
				$(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_26").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/Zz_LP.mp3",
							oga: "/assets/Zz_LP.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});	
			}
		}

		function answer_correct(){
		    points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#correct_answer_image').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/great_job.mp3",
							oga: "/assets/great_job.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		}
		function answer_wrong(){
			var randomnumber = Math.floor(Math.random()*2);
			if (randomnumber == 1){
				if (caseLetter == "upper"){
					$('#upper_case_touch').hide();
					$('#wrong_answer_image').show();
					$(".jp-jplayer").jPlayer("destroy");
					$("#jquery_jplayer_fail").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								m4a: "/assets/too_bad.mp3",
								oga: "/assets/too_bad.ogg"
							}).jPlayer("play");
						},
						supplied: "m4a, oga",
						wmode: "window"
					});
					setTimeout("jQuery('#wrong_answer_image').hide();", 1000);
					setTimeout("jQuery('#upper_case_touch').show();", 1010);
				} else {
					$('#lower_case_touch').hide();
					$('#wrong_answer_image').show();
					$(".jp-jplayer").jPlayer("destroy");
					$("#jquery_jplayer_fail").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								m4a: "/assets/too_bad.mp3",
								oga: "/assets/too_bad.ogg"
							}).jPlayer("play");
						},
						supplied: "m4a, oga",
						wmode: "window"
					});
					setTimeout("jQuery('#wrong_answer_image').hide();", 1000);
					setTimeout("jQuery('#lower_case_touch').show();", 1010);
				}
			} 
		    else {
		    	if (caseLetter == "upper"){
					$('#upper_case_touch').hide();
					$('#wrong_answer_image').show();
					$(".jp-jplayer").jPlayer("destroy");
					$("#jquery_jplayer_fail").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								m4a: "/assets/oh_no.mp3",
								oga: "/assets/oh_no.ogg"
							}).jPlayer("play");
						},
						supplied: "m4a, oga",
						wmode: "window"
					});
					setTimeout("jQuery('#wrong_answer_image').hide();", 1000);
					setTimeout("jQuery('#upper_case_touch').show();", 1010);
				} else {
					$('#lower_case_touch').hide();
					$('#wrong_answer_image').show();
					$(".jp-jplayer").jPlayer("destroy");
					$("#jquery_jplayer_fail").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								m4a: "/assets/oh_no.mp3",
								oga: "/assets/oh_no.ogg"
							}).jPlayer("play");
						},
						supplied: "m4a, oga",
						wmode: "window"
					});
					setTimeout("jQuery('#wrong_answer_image').hide();", 1000);
					setTimeout("jQuery('#lower_case_touch').show();", 1010);
				}
		    }    
		}		

		$('#answer_A').click(function(){
			if ("A" == randomLetter){
				answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_B').click(function(){
			if ("B" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_C').click(function(){
			if ("C" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_D').click(function(){
			if ("D" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_E').click(function(){
			if ("E" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_F').click(function(){
			if ("F" == randomLetter){
		       answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_G').click(function(){
			if ("G" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_H').click(function(){
			if ("H" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_I').click(function(){
			if ("I" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_J').click(function(){
			if ("J" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_K').click(function(){
			if ("K" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_L').click(function(){
			if ("L" == randomLetter){
		       answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_M').click(function(){
			if ("M" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_N').click(function(){
			if ("N" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_O').click(function(){
			if ("O" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_P').click(function(){
			if ("P" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_Q').click(function(){
			if ("Q" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_R').click(function(){
			if ("R" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_S').click(function(){
			if ("S" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_T').click(function(){
			if ("T" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_U').click(function(){
			if ("U" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_V').click(function(){
			if ("V" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_W').click(function(){
			if ("W" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_X').click(function(){
			if ("X" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_Y').click(function(){
			if ("Y" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_Z').click(function(){
			if ("Z" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_a').click(function(){
			if ("a" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_b').click(function(){
			if ("b" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_c').click(function(){
			if ("c" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_d').click(function(){
			if ("d" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_e').click(function(){
			if ("e" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_f').click(function(){
			if ("f" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_g').click(function(){
			if ("g" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_h').click(function(){
			if ("h" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_i').click(function(){
			if ("i" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_j').click(function(){
			if ("j" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_k').click(function(){
			if ("k" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_l').click(function(){
			if ("l" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_m').click(function(){
			if ("m" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_n').click(function(){
			if ("n" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_o').click(function(){
			if ("o" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_p').click(function(){
			if ("p" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_q').click(function(){
			if ("q" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_r').click(function(){
			if ("r" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_s').click(function(){
			if ("s" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_t').click(function(){
			if ("t" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_u').click(function(){
			if ("u" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_v').click(function(){
			if ("v" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_w').click(function(){
			if ("w" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_x').click(function(){
			if ("x" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_y').click(function(){
			if ("y" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_z').click(function(){
			if ("z" == randomLetter){
		       answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
	});
</script>