<div id="jquery_jplayer_fail" class="jp-jplayer"></div>
<div id="jquery_jplayer_success" class="jp-jplayer"></div>

<div class="center" id="top_select">
	<div class="m-btn-group toggle-buttons">
	  <button type="button" class="m-btn blue" id="upper_case_touch_button">Upper case</button>
	  <button type="button" class="m-btn blue" id="lower_case_touch_button">Lower case</button>
	</div>
</div>

<div class="center" id="random_letter_box">
	<p id="random_letter"></p>
</div>

<div class="center" id="correct_answer_image">
	<%= image_tag("great_job.png") %>
</div>

<div class="center" id="wrong_answer_image">
	<%= image_tag("too_bad.png") %>
</div>

<div class="center">
	<div id="upper_case_touch">
		<div class="alphabet" id="answer_A">
			<%= image_tag("cap_a_large.png") %>
		</div>
		<div class="alphabet" id="answer_B">
			<%= image_tag("cap_b_large.png") %>
		</div>
		<div class="alphabet" id="answer_C">
			<%= image_tag("cap_c_large.png") %>
		</div>
		<div class="alphabet" id="answer_D">
			<%= image_tag("cap_d_large.png") %>
		</div>
		<div class="alphabet" id="answer_E">
			<%= image_tag("cap_e_large.png") %>
		</div>
		<div class="alphabet" id="answer_F">
			<%= image_tag("cap_f_large.png") %>
		</div>
		<div class="alphabet" id="answer_G">
			<%= image_tag("cap_g_large.png") %>
		</div>
		<div class="alphabet" id="answer_H">
			<%= image_tag("cap_h_large.png") %>
		</div>
		<div class="alphabet" id="answer_I">
			<%= image_tag("cap_i_large.png") %>
		</div>
		<div class="alphabet" id="answer_J">
			<%= image_tag("cap_j_large.png") %>
		</div>
		<div class="alphabet" id="answer_K">
			<%= image_tag("cap_k_large.png") %>
		</div>
		<div class="alphabet" id="answer_L">
			<%= image_tag("cap_l_large.png") %>
		</div>
		<div class="alphabet" id="answer_M">
			<%= image_tag("cap_m_large.png") %>
		</div>
		<div class="alphabet" id="answer_N">
			<%= image_tag("cap_n_large.png") %>
		</div>
		<div class="alphabet" id="answer_O">
			<%= image_tag("cap_o_large.png") %>
		</div>
		<div class="alphabet" id="answer_P">
			<%= image_tag("cap_p_large.png") %>
		</div>
		<div class="alphabet" id="answer_Q">
			<%= image_tag("cap_q_large.png") %>
		</div>
		<div class="alphabet" id="answer_R">
			<%= image_tag("cap_r_large.png") %>
		</div>
		<div class="alphabet" id="answer_S">
			<%= image_tag("cap_s_large.png") %>
		</div>
		<div class="alphabet" id="answer_T">
			<%= image_tag("cap_t_large.png") %>
		</div>
		<div class="alphabet" id="answer_U">
			<%= image_tag("cap_u_large.png") %>
		</div>
		<div class="alphabet" id="answer_V">
			<%= image_tag("cap_v_large.png") %>
		</div>
		<div class="alphabet" id="answer_W">
			<%= image_tag("cap_w_large.png") %>
		</div>
		<div class="alphabet" id="answer_X">
			<%= image_tag("cap_x_large.png") %>
		</div>
		<div class="alphabet" id="answer_Y">
			<%= image_tag("cap_y_large.png") %>
		</div>
		<div class="alphabet" id="answer_Z">
			<%= image_tag("cap_z_large.png") %>
		</div>
	</div>
	<div id="lower_case_touch">	
			<div class="alphabet" id="answer_a">
				<%= image_tag("a_large.png") %>
			</div>
			<div class="alphabet" id="answer_b">
				<%= image_tag("b_large.png") %>
			</div>
			<div class="alphabet" id="answer_c">
				<%= image_tag("c_large.png") %>
			</div>
			<div class="alphabet" id="answer_d">
				<%= image_tag("d_large.png") %>
			</div>
			<div class="alphabet" id="answer_e">
				<%= image_tag("e_large.png") %>
			</div>
			<div class="alphabet" id="answer_f">
				<%= image_tag("f_large.png") %>
			</div>
			<div class="alphabet" id="answer_g">
				<%= image_tag("g_large.png") %>
			</div>
			<div class="alphabet" id="answer_h">
				<%= image_tag("h_large.png") %>
			</div>
			<div class="alphabet" id="answer_i">
				<%= image_tag("i_large.png") %>
			</div>
			<div class="alphabet" id="answer_j">
				<%= image_tag("j_large.png") %>
			</div>
			<div class="alphabet" id="answer_k">
				<%= image_tag("k_large.png") %>
			</div>
			<div class="alphabet" id="answer_l">
				<%= image_tag("l_large.png") %>
			</div>
			<div class="alphabet" id="answer_m">
				<%= image_tag("m_large.png") %>
			</div>
			<div class="alphabet" id="answer_n">
				<%= image_tag("n_large.png") %>
			</div>
			<div class="alphabet" id="answer_o">
				<%= image_tag("o_large.png") %>
			</div>
			<div class="alphabet" id="answer_p">
				<%= image_tag("p_large.png") %>
			</div>
			<div class="alphabet" id="answer_q">
				<%= image_tag("q_large.png") %>
			</div>
			<div class="alphabet" id="answer_r">
				<%= image_tag("r_large.png") %>
			</div>
			<div class="alphabet" id="answer_s">
				<%= image_tag("s_large.png") %>
			</div>
			<div class="alphabet" id="answer_t">
				<%= image_tag("t_large.png") %>
			</div>
			<div class="alphabet" id="answer_u">
				<%= image_tag("u_large.png") %>
			</div>
			<div class="alphabet" id="answer_v">
				<%= image_tag("v_large.png") %>
			</div>
			<div class="alphabet" id="answer_w">
				<%= image_tag("w_large.png") %>
			</div>
			<div class="alphabet" id="answer_x">
				<%= image_tag("x_large.png") %>
			</div>
			<div class="alphabet" id="answer_y">
				<%= image_tag("y_large.png") %>
			</div>
			<div class="alphabet" id="answer_z">
				<%= image_tag("z_large.png") %>
			</div>
		</div>
	</div>	
</div>	

<script>
	$(function() {
		$(".toggle-buttons > .m-btn").click(function(){$(this).siblings(".m-btn").removeClass("active");$(this).addClass("active")});
		var randomLetter = 0;
		var points = 0;
		var caseLetter = "lower"
		var capA = '<%= image_tag("cap_a_large.png") %>';
		var capB = '<%= image_tag("cap_b_large.png") %>';
		var capC = '<%= image_tag("cap_c_large.png") %>';
		var capD = '<%= image_tag("cap_d_large.png") %>';
		var capE = '<%= image_tag("cap_e_large.png") %>';
		var capF = '<%= image_tag("cap_f_large.png") %>';
		var capG = '<%= image_tag("cap_g_large.png") %>';
		var capH = '<%= image_tag("cap_h_large.png") %>';
		var capI = '<%= image_tag("cap_i_large.png") %>';
		var capJ = '<%= image_tag("cap_j_large.png") %>';
		var capK = '<%= image_tag("cap_k_large.png") %>';
		var capL = '<%= image_tag("cap_l_large.png") %>';
		var capM = '<%= image_tag("cap_m_large.png") %>';
		var capN = '<%= image_tag("cap_n_large.png") %>';
		var capO = '<%= image_tag("cap_o_large.png") %>';
		var capP = '<%= image_tag("cap_p_large.png") %>';
		var capQ = '<%= image_tag("cap_q_large.png") %>';
		var capR = '<%= image_tag("cap_r_large.png") %>';
		var capS = '<%= image_tag("cap_s_large.png") %>';
		var capT = '<%= image_tag("cap_t_large.png") %>';
		var capU = '<%= image_tag("cap_u_large.png") %>';
		var capV = '<%= image_tag("cap_v_large.png") %>';
		var capW = '<%= image_tag("cap_w_large.png") %>';
		var capX = '<%= image_tag("cap_x_large.png") %>';
		var capY = '<%= image_tag("cap_y_large.png") %>';
		var capZ = '<%= image_tag("cap_z_large.png") %>';

		var lowerA = '<%= image_tag("a_large.png") %>';
		var lowerB = '<%= image_tag("b_large.png") %>';
		var lowerC = '<%= image_tag("c_large.png") %>';
		var lowerD = '<%= image_tag("d_large.png") %>';
		var lowerE = '<%= image_tag("e_large.png") %>';
		var lowerF = '<%= image_tag("f_large.png") %>';
		var lowerG = '<%= image_tag("g_large.png") %>';
		var lowerH = '<%= image_tag("h_large.png") %>';
		var lowerI = '<%= image_tag("i_large.png") %>';
		var lowerJ = '<%= image_tag("j_large.png") %>';
		var lowerK = '<%= image_tag("k_large.png") %>';
		var lowerL = '<%= image_tag("l_large.png") %>';
		var lowerM = '<%= image_tag("m_large.png") %>';
		var lowerN = '<%= image_tag("n_large.png") %>';
		var lowerO = '<%= image_tag("o_large.png") %>';
		var lowerP = '<%= image_tag("p_large.png") %>';
		var lowerQ = '<%= image_tag("q_large.png") %>';
		var lowerR = '<%= image_tag("r_large.png") %>';
		var lowerS = '<%= image_tag("s_large.png") %>';
		var lowerT = '<%= image_tag("t_large.png") %>';
		var lowerU = '<%= image_tag("u_large.png") %>';
		var lowerV = '<%= image_tag("v_large.png") %>';
		var lowerW = '<%= image_tag("w_large.png") %>';
		var lowerX = '<%= image_tag("x_large.png") %>';
		var lowerY = '<%= image_tag("y_large.png") %>';
		var lowerZ = '<%= image_tag("z_large.png") %>';

		$('#lower_case_touch').hide();
		$('#upper_case_touch').hide();
		$('#lower_case_touch_button').click(function(){
			randomLetter = randomChar("lowerLetter");
			caseLetter = "lower";
			$('#correct_answer_image').hide();
			$('#wrong_answer_image').hide();
			$('#upper_case_touch').hide();
			$('#lower_case_touch').hide();
			$('#random_letter_box').show();
			switch(randomLetter)
				{
				case "a":
				  $('#random_letter').append(lowerA);
				  break;
				case "b":
				  $('#random_letter').append(lowerB);
				  break;
				case "c":
				  $('#random_letter').append(lowerC);
				  break;
				case "d":
				  $('#random_letter').append(lowerD);
				  break;
				case "e":
				  $('#random_letter').append(lowerE);
				  break;
				case "f":
				  $('#random_letter').append(lowerF);
				  break;
				case "g":
				  $('#random_letter').append(lowerG);
				  break;
				case "h":
				  $('#random_letter').append(lowerH);
				  break; 
				case "i":
				  $('#random_letter').append(lowerI);
				  break;
				case "j":
				  $('#random_letter').append(lowerJ);
				  break;
				case "k":
				  $('#random_letter').append(lowerK);
				  break;
				case "l":
				  $('#random_letter').append(lowerL);
				  break;
				case "m":
				  $('#random_letter').append(lowerM);
				  break;
				case "n":
				  $('#random_letter').append(lowerN);
				  break;     
				case "o":
				  $('#random_letter').append(lowerO);
				  break;
				case "p":
				  $('#random_letter').append(lowerP);
				  break;
				case "q":
				  $('#random_letter').append(lowerQ);
				  break;
				case "r":
				  $('#random_letter').append(lowerR);
				  break;
				case "s":
				  $('#random_letter').append(lowerS);
				  break;
				case "t":
				  $('#random_letter').append(lowerT);
				  break; 
				case "u":
				  $('#random_letter').append(lowerU);
				  break;
				case "v":
				  $('#random_letter').append(lowerV);
				  break;
				case "w":
				  $('#random_letter').append(lowerW);
				  break;
				case "x":
				  $('#random_letter').append(lowerX);
				  break;
				case "y":
				  $('#random_letter').append(lowerY);
				  break;
				case "z":
				  $('#random_letter').append(lowerZ);
				  break;                 
				}
			setTimeout("jQuery('#lower_case_touch').show();", 350);
			setTimeout("jQuery('#random_letter').empty();", 350);
			setTimeout("jQuery('#random_letter_box').hide();", 350);
		})
		$('#upper_case_touch_button').click(function(){
			randomLetter = randomChar("upperLetter");
			caseLetter = "upper";
			$('#correct_answer_image').hide();
			$('#wrong_answer_image').hide();
			$('#upper_case_touch').hide();
			$('#lower_case_touch').hide();
			$('#random_letter_box').show();
			switch(randomLetter)
				{
				case "A":
				  $('#random_letter').append(capA);
				  break;
				case "B":
				  $('#random_letter').append(capB);
				  break;
				case "C":
				  $('#random_letter').append(capC);
				  break;
				case "D":
				  $('#random_letter').append(capD);
				  break;
				case "E":
				  $('#random_letter').append(capE);
				  break;
				case "F":
				  $('#random_letter').append(capF);
				  break;
				case "G":
				  $('#random_letter').append(capG);
				  break;
				case "H":
				  $('#random_letter').append(capH);
				  break; 
				case "I":
				  $('#random_letter').append(capI);
				  break;
				case "J":
				  $('#random_letter').append(capJ);
				  break;
				case "K":
				  $('#random_letter').append(capK);
				  break;
				case "L":
				  $('#random_letter').append(capL);
				  break;
				case "M":
				  $('#random_letter').append(capM);
				  break;
				case "N":
				  $('#random_letter').append(capN);
				  break;     
				case "O":
				  $('#random_letter').append(capO);
				  break;
				case "P":
				  $('#random_letter').append(capP);
				  break;
				case "Q":
				  $('#random_letter').append(capQ);
				  break;
				case "R":
				  $('#random_letter').append(capR);
				  break;
				case "S":
				  $('#random_letter').append(capS);
				  break;
				case "T":
				  $('#random_letter').append(capT);
				  break; 
				case "U":
				  $('#random_letter').append(capU);
				  break;
				case "V":
				  $('#random_letter').append(capV);
				  break;
				case "W":
				  $('#random_letter').append(capW);
				  break;
				case "X":
				  $('#random_letter').append(capX);
				  break;
				case "Y":
				  $('#random_letter').append(capY);
				  break;
				case "Z":
				  $('#random_letter').append(capZ);
				  break;                 
				}
			setTimeout("jQuery('#upper_case_touch').show();", 350);
			setTimeout("jQuery('#random_letter').empty();", 350);
			setTimeout("jQuery('#random_letter_box').hide();", 350);
		});

		function answer_correct(){
		    points = points + 1;
				$('#points_container').empty();
				$('#points_container').append(points);
		        $('#upper_case_touch').hide();
				$('#lower_case_touch').hide();
		        $('#correct_answer_image').show();
		        $(".jp-jplayer").jPlayer("destroy");
				$("#jquery_jplayer_success").jPlayer({
					ready: function (event) {
						$(this).jPlayer("setMedia", {
							m4a: "/assets/great_job.mp3",
							oga: "/assets/great_job.ogg"
						}).jPlayer("play");
					},
					supplied: "m4a, oga",
					wmode: "window"
				});
		}
		function answer_wrong(){
			var randomnumber = Math.floor(Math.random()*2);
			if (randomnumber == 1){
				if (caseLetter == "upper"){
					$('#upper_case_touch').hide();
					$('#wrong_answer_image').show();
					$(".jp-jplayer").jPlayer("destroy");
					$("#jquery_jplayer_fail").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								m4a: "/assets/too_bad.mp3",
								oga: "/assets/too_bad.ogg"
							}).jPlayer("play");
						},
						supplied: "m4a, oga",
						wmode: "window"
					});
					setTimeout("jQuery('#wrong_answer_image').hide();", 1000);
					setTimeout("jQuery('#upper_case_touch').show();", 1010);
				} else {
					$('#lower_case_touch').hide();
					$('#wrong_answer_image').show();
					$(".jp-jplayer").jPlayer("destroy");
					$("#jquery_jplayer_fail").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								m4a: "/assets/too_bad.mp3",
								oga: "/assets/too_bad.ogg"
							}).jPlayer("play");
						},
						supplied: "m4a, oga",
						wmode: "window"
					});
					setTimeout("jQuery('#wrong_answer_image').hide();", 1000);
					setTimeout("jQuery('#lower_case_touch').show();", 1010);
				}
			} 
		    else {
		    	if (caseLetter == "upper"){
					$('#upper_case_touch').hide();
					$('#wrong_answer_image').show();
					$(".jp-jplayer").jPlayer("destroy");
					$("#jquery_jplayer_fail").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								m4a: "/assets/oh_no.mp3",
								oga: "/assets/oh_no.ogg"
							}).jPlayer("play");
						},
						supplied: "m4a, oga",
						wmode: "window"
					});
					setTimeout("jQuery('#wrong_answer_image').hide();", 1000);
					setTimeout("jQuery('#upper_case_touch').show();", 1010);
				} else {
					$('#lower_case_touch').hide();
					$('#wrong_answer_image').show();
					$(".jp-jplayer").jPlayer("destroy");
					$("#jquery_jplayer_fail").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								m4a: "/assets/oh_no.mp3",
								oga: "/assets/oh_no.ogg"
							}).jPlayer("play");
						},
						supplied: "m4a, oga",
						wmode: "window"
					});
					setTimeout("jQuery('#wrong_answer_image').hide();", 1000);
					setTimeout("jQuery('#lower_case_touch').show();", 1010);
				}
		    }    
		}			
		$('#answer_A').click(function(){
			if ("A" == randomLetter){
				answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_B').click(function(){
			if ("B" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_C').click(function(){
			if ("C" == randomLetter){
		       answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_D').click(function(){
			if ("D" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_E').click(function(){
			if ("E" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_F').click(function(){
			if ("F" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_G').click(function(){
			if ("G" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_H').click(function(){
			if ("H" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_I').click(function(){
			if ("I" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_J').click(function(){
			if ("J" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_K').click(function(){
			if ("K" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_L').click(function(){
			if ("L" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_M').click(function(){
			if ("M" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_N').click(function(){
			if ("N" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_O').click(function(){
			if ("O" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_P').click(function(){
			if ("P" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_Q').click(function(){
			if ("Q" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_R').click(function(){
			if ("R" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_S').click(function(){
			if ("S" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_T').click(function(){
			if ("T" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_U').click(function(){
			if ("U" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_V').click(function(){
			if ("V" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_W').click(function(){
			if ("W" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_X').click(function(){
			if ("X" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_Y').click(function(){
			if ("Y" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_Z').click(function(){
			if ("Z" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_a').click(function(){
			if ("a" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_b').click(function(){
			if ("b" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_c').click(function(){
			if ("c" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_d').click(function(){
			if ("d" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_e').click(function(){
			if ("e" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_f').click(function(){
			if ("f" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_g').click(function(){
			if ("g" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_h').click(function(){
			if ("h" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_i').click(function(){
			if ("i" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_j').click(function(){
			if ("j" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_k').click(function(){
			if ("k" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_l').click(function(){
			if ("l" == randomLetter){
		       answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_m').click(function(){
			if ("m" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_n').click(function(){
			if ("n" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_o').click(function(){
			if ("o" == randomLetter){
		        answer_correct();		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_p').click(function(){
			if ("p" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_q').click(function(){
			if ("q" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_r').click(function(){
			if ("r" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_s').click(function(){
			if ("s" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_t').click(function(){
			if ("t" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_u').click(function(){
			if ("u" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_v').click(function(){
			if ("v" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_w').click(function(){
			if ("w" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_x').click(function(){
			if ("x" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_y').click(function(){
			if ("y" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});
		$('#answer_z').click(function(){
			if ("z" == randomLetter){
		        answer_correct();
		    } 
		    else {
				answer_wrong();
		    }    
		});

		function randomChar(type){
		    var pool = "";

		    if (type == "lowerLetter"){
		        pool = "abcdefghijklmnopqrstuvwxyz";
		    }
		    else {
		        pool = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
		    }
		    var arr = pool.split('');
		    return arr[Math.floor(Math.random()*arr.length)];
		}
	});
</script>